//Fonts
$font-family-base: 'Work Sans', sans-serif !default;
$font-family-heading: 'Work Sans', sans-serif !default;
$font-weight-bold: 600;
$font-weight-regular: 400;
$font-weight-medium: 500;

//Colors 
$brand-dark-orange: #711636;
$brand-light-orange: #EC7F5E;
$brand-dark-purple: #2E1039;
$brand-light-purple: #BDA8ED;
$brand-dark-blue: #122840;
$brand-light-blue: #6CC7F8;
$brand-dark-green: #083940;
$brand-light-green: #7CC7D3;
$grey: #7E7183 !default;
$light-grey: #848484 !default;
$black: #000 !default;
$white: #fff !default;
$error: #DC004D !default;
$color-background: $white;